.loader {
    cursor: default;
    height: 100%;
    width: 100%;
    background-image: url(http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/20-1.gif);
    background-color: rgba(100, 100, 100, 0.0666667);
    background-repeat: no-repeat;
    background-position: 49% 49%;
    z-index: 1;
}

input[type="button"] {
	margin-bottom: 10px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

input[type="button"]:hover {
	cursor: pointer;
	background-color: #EEEEEE;
}

input[type="button"].multibox-control-button {
	border: none;
	background-color: #FFFFFF;
	color: #5B8CD7;
}

input[type="button"].multibox-control-button:hover {
	border: none;
	background-color: #ADC6EB;
}

input[type="button"].multibox-control-button.multibox-control-button-selected {
	border: none;
	background-color: #FFFFFF;
	background-color: #ADC6EB;
}

.search-box {
    margin: 8px auto;
    padding: 6px;
    width: 98%;

    border: 1px solid #BDBDBD;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

a {
	color: #5B8CD7;
	font-size: 14px;
}

a:hover {
	color: #CCC;
	cursor: pointer;
}

a.current-selection {
	border-bottom: 2px solid #FF5C33;
}

i.material {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	/* font-size: 24px; */
	line-height: 1;
	text-transform: none;
	display: inline-block;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

i.green {
	color: green;
}

i.material-icons.md-18 { 
	font-size: 18px; 
}

i.red {
	color: red;
}

i.dp32x24 {
	width: 32px;
	height: 24px;
}

div.small-margin-top {
	margin-top: 5px;
}

.container {
	padding: 10px;
}

.container .container-top {
	width: 100%;
	top: 0;
	bottom: 90%;
}

.container .container-bottom {
	position: absolute;
	top: 250px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.container .container-middle {
	position: absolute;
	top: 210px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.container .container-bottom-left {
	right: 50%;
}

.container .container-bottom-right {
	left: 50%;
}



.float-right {
	float: right;
}
