<template name="multiboxOptionCreate">
	<div class="multibox-option-create-container">
		<form class="multibox-option-create-form">
			<div>
				<label>Number:</label>
				<input type="number" name="number" id="txtNumber" />
			</div>
			<div>
				<label>Main Label:</label>
				<input type="text" name="mainLabel" id="txtMainLabel" />
			</div>
			<div>
				<label>Sub Label:</label>
				<input type="text" name="subLabel" id="txtSubLabel" />
			</div>
			<div>
				<input type="submit" value="Add Option" />
			</div>
		</form>
	</div>
</template>