<template name="multibox">
  	<div class="container">
		<div class="container-top">
			<input type="button" id="rebuild" value="Rebuild" />
			<input type="button" id="clear" value="Clear" />
			<input type="button" id="select-all" value="Select All" />
			<input type="button" id="clear-selection" value="Clear Selection" />
			<input type="button" id="select-odd" value="Select Odd" />
			<input type="button" id="select-even" value="Select Even" />

			<div>
				<input type="text" id="num-selected" readonly />
				<label id="selection-changed"></label>
			</div>

			<div class="small-margin-top">
				<label>Display:</label>
				<a id="display-all" class="current-selection">All</a>
				<a id="display-selected">Selected</a>

				<label>Selection Mode:</label>
				<a id="selection-mode-single">Single</a>
				<a id="selection-mode-multiple" class="current-selection">Multiple</a>
			</div>
		</div>
		
		<div>
			<input type="text" id="search" class="search-box" />
		</div>

		<div class="container-middle">
			<div class="multibox-container">
				<div id="multibox-control-panel" class="multibox multibox-control-panel">
				</div>
			</div>
		</div>

		<div class="container-bottom">
			<div class="multibox-container">
			    <div id="multibox" class="multibox">
			    	{{#each multiboxOptions}}
			    		{{> multiboxOption}}
		    		{{/each}}
			    </div>
			</div>
		</div>
	</div>
</template>